<table>
  <tbody>
    <td><%= link_to 'Employers', employers_path %></td>
    <td>&nbsp;|&nbsp;</td>
    <td><%= link_to 'Recruiters', recruiters_path %></td>
    <td>&nbsp;|&nbsp;</td>
    <td><%= link_to 'Jobs', jobs_path %></td>
  </tbody>
</table>
